@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');

body{
    background-color: #B6CBDF;
}
.sidebar {
    width: 220px;
    background-color: #AE9787;
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}
.sidebar h2 {
    color: white;
}
.nav-link,
.dropdown-btn {
    display: block;
    background: none;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
    font-size: 16px;
}
.nav-link.active {
    font-weight: bold;
}
.dropdown-container {
    display: none;
    background-color: #c7b1a2;
    padding-left: 15px;
}
.dropdown-container a {
    padding: 8px 10px;
    display: block;
    color: white;
    text-decoration: none;
}
.dropdown-container a:hover {
    background-color: #d3bfae;
}
.main-content {
    margin-left: 240px;
    padding: 20px;
}